* {
  font-family: "Lato"; }

/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.App {
  width: 100vw; }
  .App .nav-bar {
    background: #333;
    color: #f2f2f2;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px #333 solid;
    z-index: 20; }
    .App .nav-bar .nav-bar--user-card {
      display: flex;
      justify-content: flex-end; }
      .App .nav-bar .nav-bar--user-card .nav-bar-user-flex {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer; }
        .App .nav-bar .nav-bar--user-card .nav-bar-user-flex p {
          margin: 0;
          font-size: 1.2rem; }
      .App .nav-bar .nav-bar--user-card #nav-bar--icon {
        margin-left: 50%;
        cursor: pointer; }
    .App .nav-bar .form--button {
      width: 100%;
      font-size: 1.4em;
      padding: 0.5em 0.7em;
      background: #f2f2f2;
      border: 1px solid #333;
      margin: 3% 0;
      text-align: center; }
    .App .nav-bar input {
      border: 1px solid #333;
      background: #f2f2f2;
      font-size: 2rem;
      margin-bottom: 2%;
      padding: 1% 3%;
      position: relative; }
    .App .nav-bar .nav-bar--flex {
      width: 33%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      margin: auto; }
    .App .nav-bar .nav-bar--user-card {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center; }
      .App .nav-bar .nav-bar--user-card a {
        text-align: center; }
      .App .nav-bar .nav-bar--user-card .avatar {
        width: 48px;
        height: 48px; }
  .App #settings {
    color: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 400px;
    background: #333;
    transition: all 0.1s ease-in;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%; }
    .App #settings h2 {
      color: #f2f2f2; }
    .App #settings .lang-headline {
      color: #f2f2f2; }
    .App #settings .language-wrap {
      display: flex;
      flex-flow: column nowrap;
      width: 80%; }
    .App #settings .convo-form {
      color: #333;
      display: flex;
      flex-flow: column nowrap;
      width: 80%; }
      .App #settings .convo-form input {
        border: 1px solid #333;
        background: #f2f2f2;
        font-size: 2rem;
        margin-bottom: 2%;
        padding: 1% 3%;
        position: relative; }
        .App #settings .convo-form input:focus::-webkit-input-placeholder {
          color: transparent; }
        .App #settings .convo-form input:focus {
          outline: none; }
      .App #settings .convo-form .form--button-container {
        display: flex;
        flex-flow: column nowrap; }
        .App #settings .convo-form .form--button-container .form--button {
          width: 100%;
          font-size: 1.4em;
          padding: 0.5em 0.7em;
          background: #f2f2f2;
          border: 1px solid #333;
          margin: 3% 0;
          text-align: center; }

.App .login,
.App .sign-up {
  width: 100%; }
  .App .login .signup,
  .App .sign-up .signup {
    margin-top: 15%; }
  .App .login .form,
  .App .sign-up .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    .App .login .form .form--container,
    .App .sign-up .form .form--container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    .App .login .form input,
    .App .sign-up .form input {
      border: 1px solid #333;
      background: #f2f2f2;
      font-size: 2rem;
      margin-bottom: 2%;
      padding: 1% 3%;
      position: relative; }
      .App .login .form input:focus::-webkit-input-placeholder,
      .App .sign-up .form input:focus::-webkit-input-placeholder {
        color: transparent; }
      .App .login .form input:focus,
      .App .sign-up .form input:focus {
        outline: none; }
    .App .login .form .form--button-container,
    .App .sign-up .form .form--button-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      padding: 0;
      margin: 0; }
      .App .login .form .form--button-container p,
      .App .sign-up .form .form--button-container p {
        margin-bottom: 5%; }
      .App .login .form .form--button-container .form--button,
      .App .sign-up .form .form--button-container .form--button {
        width: 100%;
        font-size: 1.4em;
        padding: 0.5em 0.7em;
        background: #f2f2f2;
        border: 1px solid #333;
        margin: 3% 0;
        text-align: center; }
      .App .login .form .form--button-container #fb,
      .App .sign-up .form .form--button-container #fb {
        width: 20%;
        font-size: 16px;
        text-transform: capitalize; }
    .App .login .form .error--margin-login,
    .App .sign-up .form .error--margin-login {
      margin-right: 10px;
      margin-left: 10px; }
    .App .login .form .disclaimer,
    .App .sign-up .form .disclaimer {
      text-align: center; }
      .App .login .form .disclaimer a,
      .App .sign-up .form .disclaimer a {
        text-decoration: none;
        font-weight: bold;
        color: #333; }

.App .avatar .avatar--image {
  max-width: 100%;
  border: 2px #333 solid;
  border-radius: 50%; }

.App .dashboard {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 10%;
  justify-content: space-around;
  align-items: center; }
  .App .dashboard .convo-card {
    width: 25%;
    margin: 2%;
    text-decoration: none;
    background: lightgray;
    box-shadow: -12px 10px 0px 0px #b3b3b3;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    transition: all 0.2s ease-in-out; }
    .App .dashboard .convo-card:hover {
      transform: translate(5px, -5px);
      box-shadow: -17px 11px 2px 0px #a6a6a6; }
    .App .dashboard .convo-card .convo-card--header {
      background: #333;
      color: #f2f2f2;
      align-self: flex-start;
      width: 100%;
      padding: 10% 0 5% 0; }
      .App .dashboard .convo-card .convo-card--header h3 {
        margin-left: 5%; }
      .App .dashboard .convo-card .convo-card--header .convo-card--avatars {
        padding-left: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 30%; }
        .App .dashboard .convo-card .convo-card--header .convo-card--avatars .avatar {
          width: 16px;
          height: 16px;
          margin: 1px; }
    .App .dashboard .convo-card .convo-card--snippet {
      height: 115px;
      width: 80%;
      text-align: left;
      padding: 10% 0;
      padding-left: 10px;
      color: #333;
      display: flex;
      flex-flow: column nowrap; }
      .App .dashboard .convo-card .convo-card--snippet strong {
        margin-right: 5px; }
      .App .dashboard .convo-card .convo-card--snippet p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        order: 2; }
        .App .dashboard .convo-card .convo-card--snippet p:last-of-type {
          order: 1; }

.App .message-container {
  display: flex;
  flex-flow: column; }
  .App .message-container .message-bubble--mine .message-bubble--flexbox {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    vertical-align: bottom;
    justify-content: flex-end;
    align-items: center; }
    .App .message-container .message-bubble--mine .message-bubble--flexbox .avatar {
      display: none;
      height: 40px;
      width: 40px;
      order: 2; }
    .App .message-container .message-bubble--mine .message-bubble--flexbox p {
      box-shadow: -3px 3px 0px 0px #b3b3b3;
      order: 1;
      display: inline-block;
      word-wrap: break-word;
      max-width: 50ch;
      margin: 1% 3%;
      padding: 0.5em 0.75em;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      color: #333; }
  .App .message-container .message-bubble--yours .message-bubble--flexbox {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6px; }
    .App .message-container .message-bubble--yours .message-bubble--flexbox .avatar {
      height: 40px;
      width: 40px;
      margin-right: 5px;
      margin-left: 10px; }
      .App .message-container .message-bubble--yours .message-bubble--flexbox .avatar img {
        box-shadow: 2.5px 3px 0px 0px #b3b3b3; }
    .App .message-container .message-bubble--yours .message-bubble--flexbox p {
      box-shadow: 3px 3px 0px 0px #b3b3b3;
      display: inline-block;
      word-wrap: break-word;
      max-width: 50ch;
      margin: 2.5% 2px;
      padding: 0.5em 0.75em;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      color: #333; }
    .App .message-container .message-bubble--yours .message-bubble--flexbox strong {
      margin-right: 10px; }

.App ::-webkit-scrollbar {
  display: none !important; }
.App .chat-room .chat-box {
  bottom: 1000px; }
  .App .chat-room .chat-box Infinite {
    overflow-x: scroll; }
  .App .chat-room .chat-box #typeChecker {
    height: 30px; }
  .App .chat-room .chat-box .infinite {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: scroll; }
    .App .chat-room .chat-box .infinite::-webkit-scrollbar {
      width: 0px;
      background: transparent; }
.App .chat-room .chat-input {
  position: fixed;
  background: white;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #333;
  padding: 1% 0; }
  .App .chat-room .chat-input #text-input {
    width: 80%;
    height: 100%;
    border: none;
    resize: none;
    align-self: center; }
    .App .chat-room .chat-input #text-input:focus {
      outline: none;
      border: 1px solid transparent;
      outline-offset: 0; }
      .App .chat-room .chat-input #text-input:focus::-webkit-input-placeholder {
        color: transparent; }
  .App .chat-room .chat-input button {
    text-decoration: none;
    background: none;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 0 25px;
    line-height: 32px;
    height: auto;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #333;
    transition: all 0.2s ease-in-out; }
    .App .chat-room .chat-input button:hover {
      transform: scale(1.1);
      color: #DE1E7E;
      border-color: #DE1E7E; }

.window-hide {
  right: -400px !important; }

.window-show {
  right: 0 !important; }

.error--margin {
  margin-right: 10px; }

/*# sourceMappingURL=App.css.map */
