@import '../global.sass'
@import '../mixins.sass'
@import '../normalize.sass'

//APP + NAV STYLES
.App
	width: 100vw

	.nav-bar
		width: 100%
		position: fixed
		top: 0
		left: 0
		right: 0
		+flex(row nowrap)
		justify-content: space-between
		align-items: center
		border-bottom: 2px $black solid

		.nav-bar--user-card
			width: 12%
			+flex(row nowrap)
			justify-content: space-between
			align-items: center

			.avatar
				width: 48px
				height: 48px


//LOGIN + SIGNUP STYLES

.App
	.login,
	.sign-up
		width: 100%

		.login--form,
		.sign-up--form
			+centerer
			+flex(column nowrap)
			justify-content: space-between

//AVATAR STYLES

.App
	.avatar

		.avatar--image
			max-width: 100%
			border: 2px $black solid
			border-radius: 50%

.App
	.dashboard
		width: 100%
		+flex(row wrap)
		+centerer
		justify-content: space-around
		align-content: center

		.convo-card
			width: 30%
			background: lightgray
			box-shadow: -15px 15px 0px 0px $black
			position: relative
			+flex(column nowrap)
			justify-content: center
			align-content: center

			.convo-card--header
				background: red
				align-self: flex-start
				width: 100%
				padding: 10% 0 5% 0

				h3
					margin-left: 5%

				.convo-card--avatars
					+flex(row nowrap)
					justify-content: space-around
					align-items: center
					width: 30%

					.avatar
						width: 16px
						height: 16px

			.convo-card--snippet
				width: 80%
				text-align: left
				padding: 10% 0
				padding-left: 10px
